.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container {
    border-right: 1px solid #d3d3d3;
    margin-right: 10px;
    margin-left: 50px;
}
.seacrch-container {
    background-color: #808080;
    text-align: center;
    line-height: 40px;
    height: 45px;
}
.seacrch-container input {
    width: 75%;
    height: 25px;
}
.pagination {
  display: inline-block;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 8px;
  text-align: center;
}

.pagination button {
  color: black;
  float: left;
  margin-right: 10px;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination .selected {
  background-color: #4CAF50;
  color: white;
}

.pagination button:hover:not(.active) {
    background-color: rgb(48, 128, 233);
}
/* media query */
@media(max-width:576px) {
    .shop-container {
    
    display: grid;
    grid-template-columns: 1fr;
  } 
  .cart-container {
      order: 1;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
  }   
  .product-container {
    order: 2;
    text-align: center;
    border-right: 1px solid #d3d3d3;
    margin-right: 0px;
    margin-left: 5px;
}
}
@media(max-width:776px) {
    .shop-container {
    
    display: grid;
    grid-template-columns: 1fr;
  } 
  .cart-container {
      order: 1;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
  }   
  .product-container {
    order: 2;
    text-align: center;
    border-right: 1px solid #d3d3d3;
    margin-right: 0px;
    margin-left: 5px;
}
}